* {
    font-family: 'Coiny', cursive;
}

button {
    outline: 0;
    padding: 10px;
    border: 0px;
    border-radius: 2px;
    background-color: #5a0606;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    transition-duration: .3s;
}

button:hover {
    background-color: #d92828;
    transform: scale(1.1, 1.1);
    transition-duration: .2s;
    cursor: pointer;
}

button:active {
    transform: scale(.98, .98);
    transition-duration: .2s;
box a shadow: 0px 0px 20px rgba(0,0,0.4);
}

button:focus{
    outline:0;
}

a:hover{
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(46deg, #5a0606, #d92828);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    -o-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
}

.header {
    margin-top: 25vh;
    padding-top: 160px;
    height: auto;
}

.header img {
    width: 200px;
    position: absolute;
    left: calc(50% - 100px);
    top: -70px;
    border-style: solid;
    border-color: var(--container_colour);
    border-width: 6px;
}

#description {
    padding-top: 40px;
    padding-bottom: 20px;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 68%
    }
    50% {
        background-position: 100% 33%
    }
    100% {
        background-position: 0% 68%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 68%
    }
    50% {
        background-position: 100% 33%
    }
    100% {
        background-position: 0% 68%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 68%
    }
    50% {
        background-position: 100% 33%
    }
    100% {
        background-position: 0% 68%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 68%
    }
    50% {
        background-position: 100% 33%
    }
    100% {
        background-position: 0% 68%
    }
}
